_work/data/Anims/
_work/data/Meshes/
_work/data/Music/
_work/data/Presets/
_work/data/Textures/
_work/data/Video/
_work/data/Worlds/
_work/tools/
System/Gothic.ini
System/Systempack.ini
System/Paths.d
*.VDF
*.TEX
*.PDF
*.DLL
*.EXE
*.M3D
*.DAT
*.TGA
*.FNT
*.CSL
*.BIN
*.BAT
*.CFG
*.DMP
*.HTM
*.URL
*.FLT
*.RPT
*.RTF
*.IDB
*.TMP
*.MSG
*.ASI
*.INF
